<%= form_with(model: employee, class: 'space-y-4') do |f| %>
  <div>
    <%= f.label :name, class: 'block text-sm font-medium text-gray-700' %>
    <%= f.text_field :name, class: 'mt-1 block w-full text-black' %>
  </div>
  <div>
    <%= f.label :position, class: 'block text-sm font-medium text-gray-700' %>
    <%= f.text_field :position, class: 'mt-1 block w-full text-black' %>
  </div>
  <div>
    <%= f.label :company_id, 'Company', class: 'block text-sm font-medium text-gray-700' %>
    <%= f.collection_select :company_id, Company.all, :id, :name, {}, class: 'mt-1 block w-full text-black' %>
  </div>
  <div>
    <%= f.label :user_id, 'User', class: 'block text-sm font-medium text-gray-700' %>
    <%= f.collection_select :user_id, User.all, :id, :email, {}, class: 'mt-1 block w-full text-black' %>
  </div>
  <div>
    <%= f.submit class: 'px-4 py-2 bg-indigo-600 text-white rounded' %>
  </div>
<% end %>
